@import "./../../styles/mixins.scss";

.hero{
    padding-block: 6rem;

    &__container {
        display: grid;
        align-items: flex-start;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
        @include respond(tab-port){
            grid-template-columns: 1fr;
        }
    }

    &__btn-container {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-top: 3rem;
    }

    &__right {
        position: relative;
        @include respond(tab-port){
            width: 70%;
            margin-inline: auto;
        }
    }

    .img-1{
        width: 100%;
    }   
    .img-2{
        position: absolute;
        width: 35%;
        bottom: 0;
        right: -20px;
    }
    .img-3{
        width: 50%;
        position: absolute;
        bottom: -20px;
        left: -30px;
    }
}