@import "./../../styles/mixins.scss";

.payment {
    padding-block: 2rem 4rem;

    &__container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 5rem;

        @include respond(tab-port) {
            grid-template-columns: 1fr;
        }
    }

    &__text {
        display: flex;
        align-items: flex-start;
        gap:0.8rem;
        margin-top: 2rem;

        h4{
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 0.5rem;
        }
    }

    &__right {
        position: relative;

        h4{
            color: #6d00eb;
        }

        div{
            color: #110d34;
            font-weight: 500;
            font-size: 1rem;
            @include respond(phone) {
                font-size: 0.8rem;
            }
        }

        @include respond(tab-port) {
            width: 98%;
            margin-inline: auto;
        }
    }

    .img-1{
        width: 50%;
        margin-inline: auto;
    }
    .img-2{
        position: absolute;
        width: 60%;
        right: 0;
        bottom: -6%;
        z-index: -1;
    }

    &__partners{
        position: absolute;
        width: 12rem;
        height: 12rem;
        background-color: #fff;
        border-radius: 50%;
        top: -10%;
        right:10%;
        display: grid;
        place-content: center;
        text-align: center;
        box-shadow: 0 0 40px 5px rgba(132, 132, 132, 0.2);

        @include respond(phone) {
            width: 8rem;
            height: 8rem;
        }
    }

    &__users{
        position: absolute;
        background-color: #fff;
        text-align: center;
        gap:3rem;
        padding: 2rem;
        border-radius: 1rem;
        bottom: -8%;
        left: 10%;
        box-shadow: 0 0 40px 5px rgba(132, 132, 132, 0.2);

        @include respond(phone) {
            padding: 1rem;
        }
    }
}